# VAST
VAST_API_KEY=
VAST_MAX_PRICE=
VAST_MAX_CUDA=

# Database
DB_USER=app
DB_PASSWORD=
DB_HOST=cloud-sql-proxy
DB_PORT=5432
DB_NAME=computer-vision

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=training-jobs
KAFKA_OUTPUT_TOPIC=model-trained
KAFKA_GROUP_ID=training-service
KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_MAX_POLL_INTERVAL_MS=7200000
KAFKA_MAX_POLL_RECORDS=1

# API Gateway
API_GATEWAY_API_KEY=
GATEWAY_URL=http://localhost:8000/api/v1/train/

# Training worker
VAST_SSH_USER=vast
VAST_SSH_KNOWN_HOSTS_FILE=/root/.ssh/known_hosts
TRAIN_DATASET_DST=/work/datasets
TRAIN_IMAGE=pytorch/pytorch:2.2.2-cuda12.1-cudnn8-runtime
TRAIN_PORTS=
TRAIN_CMD_BASE=yolo train
TRAIN_DATA=
TRAIN_RUN_CMD=
TRAIN_DATASET_URL=
VAST_OFFER_LIMIT=100
TRAIN_ARTIFACT_SRC=
TRAIN_ARTIFACT_DST=./storage/artifacts
TRAIN_LOG_PATH=
TRAIN_LOG_DIR=./storage/artifacts

